<!doctype html>
<html dir="ltr" lang="fr" xml:lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="author" content="agence-keydesign.com"/>
    {% block head %}
        <meta name="robots" content="noindex, nofollow"/>
        <link rel="icon" href="{{ asset('bundles/filemanager/images/favicon.ico') }}">
        <title>File Manager</title>
        <link rel="stylesheet" href="{{ asset('bundles/filemanager/css/bootstrap.min.css') }}">
        <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bundles/filemanager/css/style.css') }}">
        {% block stylesheet %}{% endblock %}
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    {% endblock %}
</head>
<body>
    <div id="wrapper" class="content-wrapper">
        <div class="page-title">
            <i class="icon ion-md-folder"></i> {{ "File Manager"|trans }}
            {{ form_start(form, {attr: {id: 'addFile', 'data-page': 1, action: path('file_manager_api_image_add') }}) }}
            {{ form_widget(form.filename) }}
            {{ form_end(form) }}
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-3 aside">
                <div class="content-aside">
                    <div id="folders" class="drop-bloc">
                        <h2>{{ "Folders"|trans }}</h2>
                        <ul class="folders">
                            {% for folder in folders %}
                                <li>
                                    <a href="{{ path('file_manager_api_by_year_month', {year: folder.year, month: folder.digi_month}) }}" class="show-by-month">
                                        {{ folder.month }} {{ folder.year }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-md-9 content">
                <div id="content" class="content-body">
                    {% block content %}{% endblock %}
                </div>
                <div class="pagination">
                    <a href="#end" id="btn-prev" class="btn btn-primary show-by-month">Prev</a>
                    <a href="#end" id="btn-next" class="btn btn-primary show-by-month">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ asset('bundles/filemanager/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/filemanager/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/filemanager/js/mustache.min.js') }}"></script>
<script type="text/javascript">
    if (typeof top.tinymce !== 'undefined') {
        var tinyMceWindowManager = top.tinymce.activeEditor.windowManager;
        var args = tinyMceWindowManager.getParams();
        var tinymceWindow = args.window;
        var tinymceInput = args.input;
    }
    const base_url = '{{ path('file_manager_api_by_year_month', {year: "now"|date('Y'), month: "now"|date('m')}) }}';
</script>
<script type="text/javascript" src="{{ asset('bundles/filemanager/js/app.js') }}"></script>
{% block javascript %}{% endblock %}
</body>
</html>
