<div data-page="{{ page|default(1) }}" data-prev="{{ prev|default('#end') }}" data-next="{{ next|default('#end') }}" class="row images">
    {% if files is defined and files|length > 0 %}
        {% for file in files %}
            {% set image = resize(file.filename, 400, 200, 'filemanager') %}
            {% if image|length > 0 %}
                <div class="col-sm-3 file-wrapper">
                    <div class="image" style="background-image: url({{ image }})" data-image="{{ image }}">
                        <span>{{ file.createdAt|date('d/m/Y H:i') }}</span>
                        <a class="remove-image" href="{{ path('file_manager_api_image_remove', {id: file.id}) }}"><i class="ion ion-md-close"></i></a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No file</p>
    {% endif %}
</div>