body {
  background-color: #f6f6f6;
  max-width: 100%;
}

.content-wrapper {
  background-color: #fff;
  .page-title {
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,.2);
    box-shadow: 0 1px 10px rgba(0,0,0,.2);
    form {
      float: right;
      margin-right: 20px;
      margin-top: 15px;
      input {
        font-size: 13px;
        line-height: normal;
      }
    }
  }
  .content {
    -webkit-box-shadow: inset 1px 1px 13px 0px rgba(0,0,0,.15);
    -moz-box-shadow: inset 1px 1px 13px 0px rgba(0,0,0,.15);
    box-shadow: inset 1px 1px 13px 0px rgba(0,0,0,.15);
  }
  .content-aside {
    .drop-bloc {
      padding: 10px 10px 10px 20px;
      h2 {
        font-size: 14px;
        font-weight: 400;
        font-size: 20px;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          a {
            color: #4c637b;
            font-size: 13px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  .content-body {
    .pagination {
      margin: 12px 0;
    }
    .images {
      padding: 20px 0;
      margin: 0;
    }
    .file-wrapper {
      margin-bottom: 15px;
      .image {
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
        height: 200px;
        position: relative;
        a {
          position: absolute;
          top: 0; right: 0;
          display: block;
          padding: 5px 15px;
          background-color: rgba(228,4,4,.7);
          color: #fff;
          font-size: 2rem;
        }
        span {
          position: absolute;
          bottom: 0; left: 0;
          width: 100%;
          font-size: 12px;
          margin: 0;
          padding: 5px;
          color: #fff;
          display: block;
          background-color: rgba(0,0,0,.6);
          text-align: center;
        }
      }
    }
  }
}
